* {
    text-decoration: none;
    color: rgb(73, 20, 230);

}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(146, 250, 250);
    /* background-image: linear-gradient(90.5deg, rgba(112, 181, 176, 1) 1.9%, rgb(145, 240, 227) 87.7%); */
    background-repeat: repeat;
}


.container {
    justify-content: center;


}

.nav-item {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    width: 30%;
    font-size: 1.5rem;
}

.nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* background-color: #ea9292; */
}

.nav-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.contactus {
    border: solid rgb(73, 20, 230) 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;

}

.contactus:hover {
    background-color: rgb(73, 20, 230);
    color: aliceblue;
}

.hero {
    position: relative;
    margin-top: 1%;
    max-width: 1300px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.left_part,
.container-logos {
    animation: leftToright 1s ease forwards;
}

@keyframes leftToright {
    0% {
        opacity: 0;
        transform: translatex(-100%);

    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

.right-part {
    width: 86%;
}

.right-part img {
    height: 480px;
    width: 450px;
    border-radius: 3%;
}

.main-boc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    justify-content: center;
    height: 100%;

}

.main-title {
    font-size: 2.5rem;
}

.simple-text {
    font-size: 1.5rem;
}

.description {
    font-size: 1.2rem;
    width: 70%;
}

.buttons button {
    border: solid rgb(73, 20, 230) 2px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    background-color: transparent;
}

.buttons button:hover {
    background-color: rgb(73, 20, 230);
    color: aliceblue;
}

.container-logos {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90.5deg, rgb(15, 194, 234) 1.9%, rgb(7, 216, 244) 1.9);

}

.text-primary {
    text-align: center;
    /* color: rgb(42, 176, 167); */

    font-size: 2rem;
}

.logo {
    /* color: rgb(42, 176, 167); */

    display: grid;
    /* grid-template-columns: ; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    align-items: center;
    justify-content: space-around;
}

i {
    margin-right: 1rem;
    font-size: 2rem;
}

.text {
    font-size: 1.5rem;
}

.card {
    font-size: 20px;
    border-radius: 1rem;
    color: #000000;
    grid-area: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10d4ca5b;
    box-shadow: 1px 1px 10px 1px white;
    height: 15rem;
    width: 35rem;
    padding: 10px;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 500px));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.card-section {
    /* gap: 20px; */
    padding: 30px;
    font-family: Arial, sans-serif;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1%;

}

.profile1 {
    height: 15rem;
    box-shadow: 1px 1px 10px 1px rgb(248, 247, 247);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 2%;
    height: 15rem;
    background-color: #10d4ca5b;
    transition: all 0.5s linear;
    align-items: center;
}

.t {
    font-size: 15px;
}

.profile1:hover {
    transform: scale(1.08);
}

.h3 {
    text-align: center;
    font-size: 2rem;
}

/*
.text-primary1{
    /* text-align: left; 
} */
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 1px 1px 10px 1px white;
    max-width: 1200px;
    border: solid rgb(20, 156, 220) 2px;
    margin-bottom: 1rem;
}

.left-part {
    width: 50%;
}

.left-part img {
    width: 75%;
}

.right_part {
    display: flex;
    justify-content: center;
    width: 50%;
}

.right_part form {
    width: 500px;
}

form {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    padding: 1rem;

}

input::placeholder {
    color: rgb(73, 20, 230);
    opacity: 1;
}

.email {
    border: solid rgb(73, 20, 230) 2px;
    height: 30px;
    width: 50%;
    background-color: transparent;
    outline: none
}


.input-btn {

    border: solid rgb(73, 20, 230) 2px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    background-color: transparent;
}

.input-btn:hover {
    background-color: rgb(73, 20, 230);
    color: aliceblue;
}
.footer-items>a:nth-child(1) {
    color: black;
    font-weight: 600;
}

.card-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    align-items: start;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
}

.logo-text1 {
    display: flex;
}

footer {
        max-width: 1220px;
    margin-left: 10%;
    margin-bottom: 1rem;
}

.pare {
    display: none;
}

.nav-res {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 60px;
    right: 5px;
    width: 20%;
    padding: 15px;
    z-index: 13;
    height: 100%;
}

/* 
@media screen and (max-width:440px) {
    .nav{
            display: flex;
            justify-content: space-around
            wi
    }
    
} */

/* }
.contat {
    /* display: none; 
} */
.nav-res:hover {
    animation: mover 1s infinite ease forwards;
}


.resp-nav {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.menu {
    display: none;
}

/* Respponsive Section */
@media screen and (min-width:375px) {

    .nav-res {
        right: -152px;
    }
}

@media screen and (min-width:275px) {
    /* .menu {
        /* margin-left: 200px; 

    } */

    .nav-res {
        right: -172px;
    }

    .resp-nav {
        text-align: center;

    }

    .left-part {
        width: 200%;
    }
}

@media screen and (max-width: 377px) {
    .menu1 {
        display: none;
    }

    .resp-nav {
        font-size: 20px;
    }

}

@media screen and (min-width: 377px) {
    .contat {
        display: none;
    }


}


@media screen and (max-width:876px) {
    .nav-item {
        display: none;
    }


}

@media screen and (max-width:877px) {
    .menu {
        display: block;
    }

    .right-part img {
        height: 25rem;
        width: 25rem;
        margin-right: 10px;
    }


}

@media (max-width: 367px) {
    /* body{
        color: #000000 !;
        background-color: #8c6363;
    } */

    .menu {
        margin-left: 250px;
    }
}

@media screen and (max-width:340px) {
    .resp-nav {
        font-size: 16px;
    }
}

@media screen and (max-width:354px) {
    .main-title {
        word-spacing: normal;
    }

}

@media screen and (max-width:890px) {
    .left-part {
        display: none;
    }

    .right_part {
        width: 100%;

    }

    .right-part img {
        width: 400px;
        margin: 25px;
        height: 400px;
    }

}

@media (max-width: 365px) {

    .description {
        text-align: justify;
        font-size: 12px;
        /* Smaller font size */
        line-height: 1.2;
        /* Less line spacing */
        letter-spacing: 0;
        /* No extra letter spacing */
        word-break: break-word;
        /* Break long words if needed */
    }

    .left_part {
        width: 100%;
        /* Maximize width usage */
        /* padding: 8px; */
        /* Reduce padding to free space */
    }

    .main-boc {
        margin: 0 auto;
        /*  */
        /* Spread the text evenly across the line */
    }

    .container-logos {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-text h2 {
        /* text-align: center; */
        margin-left: 100px;
        width: 380px;
    }

    .heroq {
        margin-left: 40px;
        width: 400px;
    }

    .card {
        margin-left: 150px;
    }

    .cards {
        margin-left: 50px;
    }

    .h3 {
        width: 350px;
    }

    .testimonial {
        margin-left: 120px;
    }

    .profile1 {
        width: 400px;
    }

    .left-part {
        display: none;
    }

    .right-part {
        width: 100%;

    }

    .newsletter {
        margin-top: 15px;
        margin-left: 50px;
        width: 150%;
    }

    .email {
        width: 200px;
    }

    .condition {
        text-align: center;
    }

    .card-footer {
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .card-footer {
        grid-template-columns: 1fr;
        /* Single column */
        text-align: center;
        /* Optional: center the text */
    }

    .footer-items {
        align-items: flex-start;
        /* Center links */
    }

    .logo-text1 {
        justify-content: center;
    }

    .icons {
        margin-left: 40px;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width:589px) {
    .hero {
        justify-content: space-evenly;
    }
}

@media screen and (max-width:679px) {
    .description {
        width: 300%;
    }

    .menu {
        float: right;
    }
}

@media screen and (max-width:620px) {
    .hero {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .right-part {
        margin-top: 20px;
    }

    .description {
        width: 60%;
    }
}