.container {
    margin-left: 80px;
    margin-right: 80px;
    color: #cfd9df;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #000000 !important; 
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    ;
}

a {
    text-decoration: none !important;
    /* color: aliceblue; */
    color: #000000;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: none;
    gap: 1rem;
}

@media screen and (min-width:780px) {
    .nav-item {
        display: flex;
        top: 0%;
    }


}

.nav-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1180px) {
    .img {
        height: 20rem;
        width: 20rem;
    }
    .main-title{
        font-size: 10px !important;
    }
    @media screen and (max-width:775px) {
        #heading{
            font-size: 20px;
        }
        .top-text{
            font-size: 30px;
        }
        
    }

}

.contactus {
    /* background-color: #da7211e3; */
    display: none;
    border: solid #da7211e3;
    padding: 12px 15px;
    border-radius: 10px;
    transition: all 0.2s linear;
}

@media screen and (min-width:780px) {
    .contactus {
        display: block;
    }

}

.contactus:hover {
    /* display: none; */
    background: #da7211e3;
    border: solid white;

}

.menu {
    display: none;
}

@media screen and (max-width:780px) {
    .menu {
        display: block;
    }
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0%;
    right: 0%;
}

.resp-nav {
    position: absolute;
    /* or fixed if you want it to stay on scroll */
    top: 60px;
    /* distance from top of page (adjust as needed) */
    right: 20px;
    /* distance from right of page */
    padding: 10px;
    border-radius: 8px;
    display: none;
}

@media screen and (max-width:780px) {
    .resp-nav {
        display: block;

    }

}
@media screen and (max-width:774px) {
    .main-title
    {
        font-size: 4px;
    }
    
}

/* .main-section {
    /* display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; 
} */

@media screen and (min-width:780px) {
    .main-section {
        display: flex;
        justify-content: space-between;
    }





}

.top-text {
    font-size: 1.2rem;
}


#heading {
    font-weight: 800 !important;
    font-size: 40px
}

.main-description {
    width: 600px;
    /* color: ; */
}

.left-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
    animation: leftToright 1s ease forwards;
    opacity: 0;
}

@media screen and (min-width:780px) {
    .main-section {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .left-content {
        text-align: left;
        /* margin: 0;
        padding: 0; */
        align-items: start;
        width: 50%;
        overflow: hidden;
    }

    .right-content {
        width: 50%;

    }

    /* .main-img img{
        width: 600px;
        height: 600px;
    } */

    .top-text {
        font-size: 30px;
    }



}

@keyframes leftToright {
    0% {
        opacity: 0;
        transform: translatex(-100%);

    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

.btn-group a {
    background-color: #da7211e3;
    color: #cfd9df;
    border: solid whitesmoke;
    padding: 12px 15px;
    border-radius: 10px;
    margin-left: 0.2rem;
    transition: all 0.2s linear;
}

.right-content {

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    animation: leftToright 1s ease forwards;
    background-color: #c9f01d9c;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;

}

.main-img img {
    border-radius: 1rem;
}

.hero-title {
    text-align: center;
}

.logo {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

@media screen and (max-width:780px) {
    .logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

span i {
    font-size: 1.5rem;
    background-color: #087aec;
    color: wheat;
    padding: 20px;
    border-radius: 50%;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 500px));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.card1 {
    border-radius: 1rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE4B5;
    height: 15rem;
    width: 35rem;
    padding: 10px;
    gap: 12px;
}

.card2 {
    border-radius: 1rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0FFFF;
    height: 15rem;
    width: 35rem;
    padding: 10px;
    gap: 12px;
}

.card3 {
    border-radius: 1rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2f4c2;
    height: 15rem;
    width: 35rem;
    padding: 10px;
    gap: 12px;
}

.card4 {
    border-radius: 1rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f6d5da;
    height: 15rem;
    width: 35rem;
    padding: 10px;
    gap: 12px;
}

.card5 {
    border-radius: 1rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e4ee684;
    height: 15rem;
    width: 35rem;
    padding: 10px;
    gap: 12px;
}

.card-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card6 {
    border-radius: 1rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3b5;
    height: 15rem;
    width: 35rem;
    padding: 10px;
    gap: 12px;
}

@media screen and (max-width:780px) {
    .cards {
        width: 100%;
    }

}

@media screen and (max-width:780px) {
    .profiles {
        /* width: 500px; */
        display: flex;
        flex-direction: column;
        /* width: 700px; */
        /* width: 50%; */
    }

}

.profiles {
    display: flex;
    /* flex-direction: ; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.profile1:hover {
    transform: scale(1.08);
}

.profile1 {
    box-shadow: 1px 1px 10px 1px black;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid rgb(50, 49, 49) 1px;
    padding: 5px;
    transition: all ease-in 0.2s;
    border-radius: 8px;
}

@media screen and (max-width:780px) {
    .profile1 {
        width: 100%;
    }

}

.right-part {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;
    padding: auto;
    margin: 0 auto;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="email"] {
    width: 50%;
    display: inline;
}

.sec {
    max-width: 840px;
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 1px 1px 10px 1px black;
}

.left-part img {
    padding: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

.newsletter {
    display: flex;
}

@media screen and (max-width:1166px) {
    .left-part {
        display: none;
    }

    .sec {
        border: none;
        box-shadow: none;
    }

    .right-part {
        width: 70%;
        height: 20vh;
        border: solid rgb(67, 67, 67) 0.5px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 1px 1px 10px 1px black;
        justify-content: center;
        align-items: center;
    }
}

.icons {
    display: flex !important;
    justify-content: space-between !important;
}

.icons i {
    margin-right: 25px;
}

.card-footer {
    /*
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card-footer div:not(:first-child) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.logo-text1 {
    display: flex;
    align-items: center;
}